extends layout

block content
    title= title
    h1 Welcome, #{user.name}
    p.You have logged in through #{user.type}
    a(href="/") Go home
    br
    a(href="/me") Update my profile...
    br
    a(href="/ping") Ping
    br
    br
    a(href="/logout") Logout

    br
    br
    br

    form#formFindRestaurants(name="findRestaurants", method="post", action="/findrestaurants")
        input#inputFood(type="text", placeholder="Thai, Burger, Ice Cream ... ", name="food")
        input#inputPlace(type="text", placeholder="Location, city, locality ...", name="place")
        button#btnSubmit(type="submit") Find!

    p You searched for #{query.food} at #{query.place}

    p #{result}


  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')
